node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
/src/navigation/screens/Reviews/MainReviews/images/serials.jpg
/src/navigation/screens/Reviews/MainReviews/images/anime.jpg
/src/navigation/screens/Reviews/MainReviews/images/cartoon.jpg
/src/components/Profile/CardProfile/Images/default_profile_icon.webp
/src/components/NotFound/Images/emptyPage.png
/assets/SplashScreen/loading.jpg
/src/navigation/screens/Reviews/MainReviews/images/move.jpg
